@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* components color
small components color 
primary button 
secoundary button  */
@layer components {
  .navbar-color {
    background: linear-gradient(93.42deg, #212936 -21.87%, #131725 172.12%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .component-color {
    background: linear-gradient(
      128.53deg,
      rgba(69, 78, 96, 0.63) 11.81%,
      rgba(73, 79, 89, 0.63) 48.34%,
      rgba(43, 56, 74, 0.63) 98.82%
    );
  }
  .component-color-2 {
    background: linear-gradient(
      128.53deg,
      rgba(69, 78, 96, 0.88) 11.81%,
      rgba(73, 79, 89, 0.88) 48.34%,
      rgba(43, 56, 74, 0.88) 98.82%
    );
    box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(11px);
  }
  .component-color-3 {
    background: linear-gradient(
      128.53deg,
      rgba(69, 78, 96, 0.63) 11.81%,
      rgba(73, 79, 89, 0.63) 48.34%,
      rgba(43, 56, 74, 0.63) 98.82%
    );
  }
  .small-component-color {
    background: linear-gradient(
      315.01deg,
      #181d2d -11.92%,
      rgba(46, 47, 58, 0.75) 119.58%
    );
  }
  .mid-s-component-color {
    background: linear-gradient(
      104.24deg,
      rgba(30, 39, 50, 0.5) -5.98%,
      rgba(36, 44, 60, 0.5) 76.54%,
      rgba(13, 15, 29, 0.5) 260.97%
    );
  }
  .list-component-color {
    background: linear-gradient(
      169.43deg,
      rgba(76, 78, 94, 0.58) 2.23%,
      rgba(69, 76, 87, 0.68) 10.82%,
      rgba(62, 64, 80, 0.54) 18.4%,
      rgba(45, 49, 70, 0) 94.79%
    );
  }
  .chart-component-color {
    background: linear-gradient(
        241.34deg,
        rgba(0, 0, 0, 0) -14.55%,
        rgba(15, 196, 59, 0.1) 164.24%
      ),
      linear-gradient(
        128.53deg,
        rgba(69, 78, 96, 0.63) 11.81%,
        rgba(73, 79, 89, 0.63) 48.34%,
        rgba(43, 56, 74, 0.63) 98.82%
      );
  }
  .button-component-color {
    background: linear-gradient(
      36.62deg,
      rgba(255, 255, 255, 0.06) 12.45%,
      rgba(255, 255, 255, 0.13) 106.33%
    );
  }
  .primary-button {
    @apply border-[#268AFF] small-component-color w-full rounded-md border p-2 font-medium transition-all;
  }
  .secondary-button {
    @apply border-[#268aff] bg-[#268aff] w-full rounded-md border p-2 font-medium transition-all;
  }
  .primary-button:hover {
    background: #268aff;
  }
  .secondary-button:hover {
    background: linear-gradient(
      315.01deg,
      #181d2d -11.92%,
      rgba(46, 47, 58, 0.75) 119.58%
    );
    @apply border-[#268AFF];
  }
  .heading-xl {
    @apply text-base 2xl:text-xl;
  }
}

body {
  background: rgb(30, 39, 50);
  background: linear-gradient(
    120deg,
    rgba(30, 39, 50, 1) 0%,
    rgba(36, 44, 60, 1) 35%,
    rgba(13, 15, 29, 1) 100%
  );
  font-family: "Montserrat", sans-serif;
  @apply text-white bg-cover;
}

/* width */
::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  @apply rounded-full;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(30, 39, 50);
  background: linear-gradient(
    120deg,
    rgba(30, 39, 50, 1) 0%,
    rgba(36, 44, 60, 1) 35%,
    rgba(13, 15, 29, 1) 100%
  );
  @apply rounded-full;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(30, 39, 50);
  background: linear-gradient(
    120deg,
    rgba(30, 39, 50, 1) 0%,
    rgba(36, 44, 60, 1) 35%,
    rgba(13, 15, 29, 1) 100%
  );
}
tbody {
  @apply border-b-2 border-b-gray-400/50;
}
tbody:last-child {
  @apply border-b-0;
}
tbody:first-child {
  @apply border-b-0;
}
